[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
synergy-dataset = "*"
networkx = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
tensorflow = "*"
numpy = "*"
scikit-learn = "*"
openpyxl = "*"
temporalio = "*"
python-dotenv = "*"
joblib = "*"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
